<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Confirm delete</title>
    </head>
    <body>
        <h1>Are you sure you want to delete this product?</h1>
        <p>
            <strong>Code:</strong>
            <span th:text="${product.code}"></span>
        </p>
        <p>
            <strong>Description:</strong>
            <span th:text="${product.description}"></span>
    	</p>
        <p>
            <strong>Price:</strong>
            <span th:text="${product.getPriceCurrencyFormat()}"></span>
    	</p>
        <form th:action="@{/ProductMaintenance/comfirmDelete?pcode={code} (code=${product.code})}" method="get">
            <input name="confirm" value="yes" hidden type="text">
            <input type="submit" value="Yes">
        </form>
        <form th:action="@{/ProductMaintenance/comfirmDelete?pcode={code} (code=${product.code})}" method="get">
            <input name="confirm" value="no" hidden type="text">
            <input type="submit" value="No">
        </form>
    </body>
</html>